{% set menu_path_is_active = is_active is not empty and is_active == '1' %}

<nav{{ create_attribute().addClass('years-menu--nav', 'menu--years-menu--nav') }}>
  {% if menu_path_is_active %}
    <small{{ create_attribute().addClass('no-link') }}>{{ title }}</small>
  {% else %}
    <button{{ create_attribute().setAttribute('id','years-menu--nav__button')}}>
      <small{{ create_attribute() }}>{{ title }}</small>
    </button>
  {% endif %}
  <ul{{ create_attribute().addClass('years-menu--nav__items menu', menu_path_is_active ?: 'closed') }}>
    {% for y in years %}
      <li>
        <a href="{{ y.uri }}" {{ create_attribute().addClass(y.current ? 'is-active') }}>{{ y.title }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>