<nav{{ create_attribute() }}>
  <h3{{ create_attribute().addClass('visually-hidden') }}>{{ title }}</h3>
  <ul>
    {% for y in years %}
      <li>
        {% if y.current %}<span{{ create_attribute().addClass('current') }}>{{ y.title }}</span>
        {% else %}<a href="{{ y.uri }}">{{ y.title }}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>