{% set has_slider = items|length > 1 %}
{% set field_class_name = 'field--name-' ~ field_name|clean_class %}
{%
  set classes = [
    'field',
    has_slider ? field_class_name ~ '--glider' : field_class_name,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    label_display == 'inline' ? 'clearfix',
    has_slider ? 'glide',
    has_slider ? 'artwork-slider',
    has_slider ? 'slider'
  ]
%}
{%
  set title_classes = [
    'field__label',
    'visually-hidden'
  ]
%}

<div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
<div{{ attributes.addClass(classes) }}>
  {% if has_slider %}
    <div data-glide-el="track" class="glide__track image-container--background">
      <ul{{ attributes.addClass(classes, 'field__items', 'glide__slides') }}>
        {% for item in items %}
          <li{{ item.attributes.addClass('field__item', 'glide__slide') }}>{{ item.content }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="glide__arrows" data-glide-el="controls">
      <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><span>^</span><span>Previous Image</span></button>
      <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><span>^</span><span>Next Image</span></button>
    </div>
    <div class="glide__bullets" data-glide-el="controls[nav]">
      {% for item in items %}
        <button class="glide__bullet" data-glide-dir="={{ loop.index0 }}"></button>
      {% endfor %}
    </div>
  {% else %}
    <div>
      {{ items[0].content }}
    </div>
  {% endif %}
</div>
