{{ attach_library('the/bg-image') }}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('the/node') }}
{% set link = content.field_link[0]['#url'] ? content.field_link[0]['#url'] : null %}
{% if link %}
  <a href="{{ link }}">
 {% endif %}
<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('node__content') }}>
    {{ content|without(content.field_image, content.field_link) }}
  </div>
  {{ content.field_image }}
</article>
{% if link %}
  </a>
{% endif %}
