{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('the/node') }}
<div{{ attributes.addClass(classes).setAttribute('role', 'sidebar') }}>
  {{ content.field_artists }}
  {{ title_prefix }}
  {% if label and not page %}
    <h4{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h4>
  {% endif %}
  {{ title_suffix }}
  {{ content|without('field_artists') }}
</div>
