{{ attach_library('the/node') }}

{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

<div{{ attributes.addClass(classes).setAttribute('role', 'sidebar') }}>
  {{ title_prefix }}
  <h4{{ title_attributes }}>
    <a href="{{ url }}" rel="bookmark">{{ label }}</a>
  </h4>
  {{ title_suffix }}
  {{ content }}
</div>
