{% set h = is_frontpage == true ? 'h1' : 'h2' %}
{% if site_logo %}
  <a href="{{ path('<front>') }}" rel="home" class="site-logo">
    <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
  </a>
{% endif %}
{% if site_name %}
  {% if is_frontpage %}
      <h1>{{ site_name }}</h1>
    {% else %}
      <{{ h }}><a href="{{ path('<front>') }}" rel="home">
      {{ site_name }}
      </a></{{ h }}>
    {% endif %}
{% endif %}
{% if site_slogan %}
  <div class="site-slogan">{{ site_slogan }}</div>
{% endif %}
