<a href="{{ path('<front>') }}" rel="home">
  <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" id="site-logo" />
</a>
<a href="{{ path('<front>') }}" rel="home" class="visually-hidden">{{ site_name }}</a>
{#{{ site_slogan }}#}
